# Virtual environment
venv/
.venv/

# Environment variables & secrets
.env

# Python cache & build files
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Chroma / Vector store data
chroma_db/
*.db
